@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600&display=swap");


:root {
  --blue-light: #0000FF;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(26, 29, 55) ,  rgb(14, 15, 29),  rgb(26, 29, 55)); 
}
/* nav */
header {
  margin-top: 0px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header.sticky {
  box-shadow: 10px 30px 90px 10px  rgb(14, 15, 29);
  background: rgb(27, 33, 85);
}

nav {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

nav .logo img {
  max-width: 100%;
  width: 40px;
  height: auto;
  margin-left: 48px;
}

nav .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  padding: 0px;
  margin-left: auto;
  background: rgb(27, 33, 85);
  clip-path: circle(0.0% at 100% 0);
}


/* search */
.search-box {
  background-color: white;
  border-radius: 40px;
}

.search-box a i {
  color: black;
  padding-left: 5px;
}

.search-box input {
  outline: none;
  border: none;
  color: black;
  width: 130px;
  height: 30px;
  background: transparent;
  font-family: "Readex Pro", sans-serif;
}
/* search */


nav .nav-menu.active {
  clip-path: circle(141.2% at 100% 0);
  /* border-radius: 10px; */
}

nav .nav-menu a:hover {
  color: var(--blue-light);
}

nav .nav-menu .active {
  color: var(--blue-light);
}

nav .nav-btn {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-right: 20px;
  border: none;
}

nav .nav-btn .btn-menu {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 14px;
  background-color: var(--blue-light);
  border-radius: 4px;
}

nav .nav-btn .btn-menu .line {
  width: 16px;
  height: 2px;
  background-color: white;
}
/* nav */
/* hero */


.hero .img-compt img {
  max-width: 100%;
  width: 1139px;
  height: 302px;
  object-fit: cover;
}

.container {
  max-width: 512px;
  margin-right: 10px;
  margin-left: 26px;
  margin: 0 auto;
}


 .img-compt img {
  margin-top: 7rem;
}
/* end hero */
/* detail pay */
.wrapper {
  display: grid;
  gap: 2rem;
}

.wrapper .step-buy img {
  max-width: 100%;
  width: 700px;
  height: auto;
}

.buy-title {
  font-size: 20px;
  margin-top: 1rem;
}

.buy-desc {
  font-size: 14px;
  /* width: 600px; */
  margin-top: 1rem;
}

.buy-desc-2 {
  margin-top: 1rem;
}

.step-buy ol {
   margin-top: 1.7rem;
   margin-left: 3rem;
  }
  
  .step-buy li {
    margin: 1rem;
}


/* list diamond */



.list-diamond {
  background-color:  rgb(33, 35, 65);
  align-items: center;
  border-radius: 10px;
  max-height: auto;
  max-width: auto;
  margin-right: auto;
  padding: 20px 0px;
}

.list-diamond-2 {
  margin-top: 2rem;
  background-color:  rgb(33, 35, 65);
  align-items: center;
  border-radius: 10px;
  max-height: auto;
  max-width: auto;
  padding: 20px;
}

.diamond-pembungkus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} 

.list-diamond h1 {
  font-size: 20px;
  margin-left: 1rem;
}
.list-diamond-2 h1 {
  font-size: 20px;
  /* margin-left: 1rem; */
}

.list-diamond .input-text {
  max-width: 566px;
  align-items: center;
  justify-content: space-between;
  display: grid;
  gap: 15px;
  margin-left: 10px;
  display: grid;
}

.list-diamond .input-text input {
  outline: none;
  border: 1px solid var(--blue-light);
  background: transparent;
  margin-top: 1rem;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.list-diamond-2 img {
  max-width: 100%;
  width: 100px;
  height: auto;
}

.card-pay {
  margin-top: 2rem;
}

.card-dm {
  border: 1px solid var(--blue-light);
  max-width: 190px;
  padding: 20px 0;
  margin-top: 2rem;
  cursor: pointer;
}

.dm-desc {
  font-size: 12px;
  text-align: center;
}

.dm-harga {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.player {
  background-color:  rgb(18, 19, 33);
  padding: 20px 0;
  font-size: 23px;
  margin-top: 2rem;
  max-width: 900px;
}

/* list pembayaran */
.list-pembayaran {
  background-color:  rgb(33, 35, 65);
  margin-top: 2rem;
  padding: 20px;
}

.list-pembayaran-title {
  font-size: 20px;
  margin-left: 1rem;
  /* padding-top: 1rem; */
}

.img-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 10px;
   gap: 10px;
}

.img-menu {
  border: 2px solid var(--blue-light);
  padding: 10px 0;
}

.img-menu .linkaja{
  width: 50px;
  border-radius: 10px;
}
.img-menu .qris{
  max-width: auto;
  width: 80px;
  border-radius: 10px;
}

.img-grid img {
  max-width: 100%;
  width: 90px;
  height: auto;
  margin-left: 1rem;
}
/* wa */
.wa {
  background-color:  rgb(33, 35, 65);
  margin-top: 2rem;
  padding: 20px;
}

.btn-wa-text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
  /* gap: 2rem; */
}

input {
  outline: none;
  background: transparent;
  border: 2px solid var(--blue-light);
  padding: 5px 5px;
  border-radius: 8px;
}

.wa-title {
  font-size: 20px;
  margin-left: 1rem;
}

.beli button {
  background: var(--blue-light);
  color: white;
  padding: 14px 10px;
  margin-top: 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/* end wa */
/* end list pembayaran */
/* end list diamond */
/* end detail pay */
/* footer */
footer {
  background-color: rgb(27, 33, 85);
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 3rem;
}

.footer-wrap {
  max-width: auto;
  display: grid;
}

.footer-title {
  text-align: center;
  text-decoration: underline;
  color: blueviolet;
}

/* footer */

@media screen and (max-width:1144px) {
  .img-compt {
    display: none;
  }
  .step-buy {
    margin-top: 5rem;
  }
}

@media screen and (max-width:727px) {
  .list-diamond .input-text {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:299px) {
  
  .list-diamond .input-text {
    grid-template-columns: repeat(1, 1fr);
  }
  .list-diamond-2 .input-text {
    grid-template-columns: repeat(1, 1fr);
  }
  .step-buy {
    margin-top: 5rem;
  }
}



@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .game-name {
    font-size: 15px;

  }
  .nav-menu {
    display: block;
  }
  nav .nav-btn .btn-menu {
    display: none;
  }
  nav .nav-menu {
    flex-direction: row;
    position: relative;
    background-color: transparent;
    clip-path: none;
  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .list-diamond {
    max-height: auto;
  }
  .list-diamond .input-text {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-diamond-2 .input-text {
    grid-template-columns: repeat(2, 1fr);
  }
  .diamond-pembungkus {
    grid-template-columns: repeat(6, 1fr);
  }

}

@media (min-width: 1140px) {
  
  
  .container {
    max-width: 1140px;
  }
  .card-grid {
    grid-template-columns: repeat(6, 1fr); 
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
